{% extends "layout.njk" %}
{% block content %}
<div class="card" style="width: 100%;">
  <img src="../img/alexandro.png" class="card-img-top" alt="alekandro">
  <p>{{ post.username }}</p>
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.content }}</p>
    <a href="../img/alexandro.png" class="btn btn-primary">Kommentera</a>
  </div>
</div>
<small class="text-muted">{{ post.createdAt }}</small>
{% endblock %}