{% extends "layout.njk" %}
{% block content %}
<div class="card" style="width: 100%;">
  <a href="/user/{{ post.username }}">
  <img src="../img/alexandro.png" class="card-img-top" alt="alekandro">
  <p>{{ post.username }}</p>
  </a>
  <div class="card-body">
    <h5 class="card-title">{{ post.title }}</h5>
    <p class="card-text">{{ post.content }}</p>
    {% if loggedin === true %}
    <a href="/comment/ {{ post.id }}" class="btn btn-primary">Kommentera</a>
    {% endif %}
    {% if uid === post.authorId %}
    <a href="/edit/ {{ post.id }}" class="btn btn-primary">Edit</a>
    {% endif %}
  </div>
</div>
<small class="text-muted">{{ post.createdAt }}</small>


    <ul>
  {% for row in rows %}
  <li>
<div class="card" style="width: 100%;">
    <a href="/user/{{ row.name }}">
  <img src="../img/alexandro.png" class="card-img-top" alt="alekandro">
  <p>{{ row.name }}</p>
  </a>
  <div class="card-body">
    <h5 class="card-title">{{ row.ucomment }}</h5>
  </div>
</div>
<small class="text-muted">{{ row.createdAt }}</small>
</li>
{% endfor %}
</ul>

{% endblock %}