{% extends "layout.njk" %}
{% block  content %}
<main class="container mt-3">
    <h1>{{ title }}</h1>
    <p>Username: {{ username }}</p>
    <a href="/logout">
    <button type="submit">Logout</button>
    </a>
    <p>This is your profile :)</p>
    <a href="/delete">
    <button type="submit">DELETE MY PROFILE!!! 🤬😈😡👹💀</button>
    </a>
    
    <ul>
  {% for row in rows %}
  <li>
<div class="card" style="width: 100%;">
  <img src="../img/alexandro.png" class="card-img-top" alt="alekandro">
  <p>{{ row.name }}</p>
  <div class="card-body">
    <h5 class="card-title">{{ row.title | urlize | safe }}</h5>
    <a href="/post/{{ row.id }}" class="btn btn-primary">Visit post</a>
  </div>
</div>
<small class="text-muted">{{ row.createdAt }}</small>
</li>
{% endfor %}
</ul>
</main>
{% endblock %}