{% extends "layout.njk" %}
{% block  content %}
{% if rows.length < 1 %}
<p> This user does not exist or has not posted anything </p>
{% else %}
<main class="container mt-3">
    <h1>{{ title }}</h1>
    <p>Username: {{ rows[0].name }}</p>
  
    <p>This is NOT your profile :)</p>
    
    <ul>
  {% for row in rows %}
  <li>
<div class="card" style="width: 100%;">
  <img src="../img/alexandro.png" class="card-img-top" alt="alekandro">
  <p>{{ row.name }}</p>
  <div class="card-body">
    <h5 class="card-title">{{ row.title }}</h5>
    <a href="/post/{{ row.id }}" class="btn btn-primary">Visit post</a>
  </div>
</div>
<small class="text-muted">{{ row.createdAt }}</small>
</li>
{% endfor %}
</ul>
</main>
{% endif %}
{% endblock %}